
.play-header {
    background: var(--dark-2);
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.play-main {
    height: 90vh;
}


.play-title {
    font-size: 2.5rem;
    color: lightgray;
}