@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

:root {
  --dark-1: #212129;
  --dark-2: #323949;
  --dark-3: #3d3e51;
  --dark-4: #40445a;
  --dark-5: #4c5265;
  --dark-6: #5d647b;
  --dark-7: #6a7189;


}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.silkscreen-regular {
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.silkscreen-bold {
  font-family: "Silkscreen", sans-serif;
  font-weight: 700;
  font-style: normal;
}


html, body {
  margin: 0;
  padding: 0;
}

.text {
  margin: 0;
  padding: 0;
}